body {
    margin: 0;
    background-color: black;
    height: 100vh;
}

span {
    background: url("heart.png");
    width: 100px;
    height: 100px;
    position: absolute;
    background-size: cover;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}